{% extends "layout.html" %}
{% block body %}
  <h2>Showing all Feature Requests</h2>
  <form action="/showAllFeatureRequests" method=post>
    <table >
      <tr>
        <th>#
        <th>Title
        <th>Description
        <th>Client Name
        <th>Client Priority
        <th>Target Date
        <th>Produt Area</th>
      {%- for featureRequest in feature_requests %}
      <tr class=title>
        <td>{{ featureRequest.id}}
        <td>{{ featureRequest.title }}
        <td>{{ featureRequest.description }}
        <td>{{ featureRequest.client_name }}
        <td>{{ featureRequest.client_priority }}        
        <td>{{ featureRequest.target_date.strftime('%Y-%m-%d') }}
        <td>{{ featureRequest.product_area }}
        
      {%- endfor %}
    </table>
    <p>
      <input type=submit value="Add Feature Request">
      <a href="{{ url_for('showFeatureRequestForm') }}">Add New Request</a>
  </form>
  <script src="{{ url_for('static', filename='knockout-3.4.2.js') }}"></script>
  <script src="{{ url_for('static', filename='requestForm.js') }}"></script      
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}