	/* Style for html doc and the form */

	h2{
		text-align:center;
		color: rgb(0,0,255);
		margin-left: 50px;
	    }
	
	h4{
		text-align:center;		
	}
	body{
		border-style: solid;
		border-radius: 5px;      
		border-color: blue;

	}
   	#displayDiv {       
       		text-align:left;
        
  	}

	/* To style form input elements and submitt button */
    	form {        
	   color : blue;
	   text-align: center;
   	}
   	fieldset{
	   	width: 600px;
		margin:auto;
       		font-size: 1.3em;
	}
    	legend{
        	font-size: 2em;
        }
	input{
		 width : 15em;
		 height: 2em;
		 margin: auto;

		-webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
		-moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
		box-sizing: border-box;
	}
  	input[type=submit]{
             	 border-radius: 1.5em;
  	}
   
