<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Feature Request App</title>
    </head>
    <body>
        <div class="container">
            <p><h1>Create a feature request</h1></p>
            
            <form class="form-inline" action="/addFeatureRequests" method="post">
            <div class="form-group" >
                <p>Title: <input type="text" class="form-control" data-bind="value: title" /></p>
                <p>Description: <textarea class="form-control" rows="3" cols="50" data-bind="value: description"></textarea></p>
                <p>Select Client:  <select size=3 class="form-control" data-bind="options: clientList, value: selectedClient"></select></p>
                <p>Enter Client Priority: <input class="form-control" value="Enter a Number" data-bind="initializeValue: client_priority, value: client_priority" /></p>
                <p>Target Date: <input type="date" class="form-control"  data-bind="date: target_date">
                <p>Product area:  <select size=4 class="form-control" data-bind="options: productAreas, value: selectedProductArea"></select></p>
                <p><button class="btn btn-default" data-bind="click: addFeatureRequest">Create Requests</button></p>
            </div>
        </div>
 
        <script src="{{ url_for('static', filename='knockout-3.4.2.js') }}"></script>
        <script src="{{ url_for('static', filename='requestForm.js') }}"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </body>
</html>


