{% extends "layout.html" %}
{% block body %}
  <h2>Showing all Feature Requests</h2>
    <p>
      <a class="btn btn-info" href="{{ url_for('show_request_form') }}">Add New Request</a>
    </p>
    <table class=table>
      <tr>
        <th>#
        <th>Title
        <th>Description
        <th>Client Name
        <th>Client Priority
        <th>Target Date
        <th>Produt Area</th>
      {%- for featureRequest in feature_requests %}
      <tr class=title>
        <td>{{ featureRequest.id}}
        <td>{{ featureRequest.title }}
        <td>{{ featureRequest.description }}
        <td>{{ featureRequest.client_name }}
        <td>{{ featureRequest.client_priority }}        
        <td>{{ featureRequest.target_date.strftime('%Y-%m-%d') }}
        <td>{{ featureRequest.product_area }}
        
      {%- endfor %}
    </table>    
{% endblock %}